[submodule "tkDNN"]
	path = tkDNN
	url = https://github.com/ceccocats/tkDNN
[submodule "masa_protocol"]
	path = masa_protocol
	url = gitlab@git.hipert.unimore.it:rcavicchioli/masa_protocol.git
[submodule "tkCommon"]
	path = tkCommon
	url = gitlab@git.hipert.unimore.it:tk/core/tkCommon.git
[submodule "class-tracker"]
	path = class-tracker
	url = https://github.com/mive93/class-tracker
